/* Make outermost container full screen with no padding or margins */
.login-background {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0; /* Đảm bảo không có khoảng trống */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Form container styling */
.login-form {
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make form width responsive */
    max-width: 400px;
}

/* Styling for the title */
.Title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Input field styling */
.form-control, .btn-primary {
    height: 48px;
    font-size: 1rem;
}

/* Password visibility icon */
.input-group-text {
    cursor: pointer;
    font-size: 1.2rem;
}

