/* .Search-container
{
    padding-top: 60px;
    font-family: Arial, sans-serif;
    width: 55%;
    align-self: center;
} */

  
  .search-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #140303;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .loading,
  .no-results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }
  
  .results-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .user-email {
    color: #555;
  }
  
  .add-friend-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-friend-btn:hover {
    background-color: #0056b3;
  }
  
  .status.pending {
    color: #ff9800;
    font-weight: bold;
  }
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  button:hover {
    background-color: #f0f0f0;
  }
  .Search-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    
    padding-top: 70px;
    border: 2px solid;
    min-height: 500px;
  }
  
  .list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  