/* Edit_profile.css */

/* Container */
.edit-profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  .edit-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Form */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Form group */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  /* Submit button */
  .submit-btn {
    padding: 12px 20px;
    background-color: #300b4c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
  }
  
  /* Error message */
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Disabled input field */
  input:disabled {
    background-color: #e9e9e9;
    cursor: not-allowed;
  }
  

  .password-input-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  