.newsfeed-container
{
    padding-top: 25px;
    width: 60%;
    margin: 0 auto; /* Căn giữa toàn bộ newsfeed */
}
.main-container
{
  padding-top: 55px;
}
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #495d76;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}
.createPost-container {
  margin: 20px;
  text-align: center;
  
 
}

.createPost-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  
  box-shadow: -5px -5px 5px rgba(18, 3, 3, 0.1); /* X Offset, Y Offset, Blur, Màu */
}

.createPost-box textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.createPost-box input[type="file"] {
  padding: 5px;
}

.createPost-box button {
  width: 20%; /* Điều chỉnh chiều rộng của button */
  padding: 5px;
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;

  box-shadow: -5px -5px 5px rgba(18, 3, 3, 0.1); /* X Offset, Y Offset, Blur, Màu */
}

.createPost-box button:hover {
  background-color: #00285A;
    color: #FFFFFF;
}
.open-btn
{
  width: 20%; /* Điều chỉnh chiều rộng của button */
  padding: 5px;
  background-color: #ffffff;
  color: #0e0e0e;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
}

.open-btn:hover
{
  background-color: #00285A;
  color: #FFFFFF;
}