.container-mng {
    display: flex;
    height: 100vh;
    margin: 0; /* Đảm bảo không có khoảng cách xung quanh */
    padding: 0;
}

.sidebar {
    width: 270px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    position: fixed; /* Dán sidebar vào lề trái */
    top: 0;
    left: 0;
    height: 100%; /* Đảm bảo chiều cao bằng toàn bộ trang */
    overflow-y: auto; /* Cuộn nếu nội dung quá nhiều */
}

.sidebar h2 {
    font-size: 22px;
    font-weight: bold;
    color: #343a40;
    text-align: center;
}

.list-group-item {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #e9ecef;
    color: #0e0e0f;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    padding: 20px;
}

.list-group-item:hover {
    background-color: #00285A;
    color: white;
}

.content {
    margin-left: 250px; /* Đẩy nội dung chính sang phải bằng chiều rộng của sidebar */
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    flex-grow: 1;
}
