/* Messages.css */
.messages-container {
    padding-top: 70px;
    font-family: Arial, sans-serif;
    width: 55%;
   
    
  }
  
  .message-list {
    list-style: none;
    padding: 0;
    
    background-color: #c5b7b7;
    border-radius: 8px;

  }
  
  .message-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  .post-container h4 {
    font-size: 18px;
    margin: 0;
    color: #1a0202;
  }
  
  .post-container p {
    margin: 5px 0;
    color: #555;
  }
  
  .post-icons {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  
  .author {
    font-size: 13px;
    color: #888;
  }
  
  .message-link {
    text-decoration: none;
    color: inherit;
  }
  
  .message-link:hover {
    background-color: #e9ecef;
  }
  

  .chatbox-container {
    width: 30%;
    padding-top: 67px;
    position: absolute;  
    top: 0; 
    right: 0; 
    display: flex;
    flex-direction: column; 
  }
  
  .chatbox {
    position: relative;  
    left: -480px;
    width: 100%;  
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .chatbox-messages {
    height: calc(100% - 60px); /* Chiều cao của chatbox */
    overflow-y: auto;
    padding: 10px;
  }
  
  .chatbox-input {
    display: flex;
    gap: 5px;
  }
  .delete-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    color: red;
  }
  .delete-icon:hover
  {
    background-color: #ccc;
  }

  .lastMsg
  {
    background-color:  #dbd6d6;
    color: #00050b;
    font-weight: 600;
    border-radius: 5px;
    border-radius: 2px solid;
    max-width: max-content;
    
  }