/* Messages.css */
.messages-container {
    padding-top: 60px;
    font-family: Arial, sans-serif;
    width: 55%;
  }
  
  .message-list {
    list-style: none;
    padding: 0;
  }
  
  .message-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .post-container h4 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .post-container p {
    margin: 5px 0;
    color: #555;
  }
  
  .post-icons {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .author {
    font-size: 14px;
    color: #888;
  }
  
  .message-link {
    text-decoration: none;
    color: inherit;
  }
  
  .message-link:hover {
    background-color: #e9ecef;
  }
  

  .chatbox-container {
    width: 30%;
    padding-top: 67px;
    position: absolute;  /* Chuyển sang absolute để căn chỉnh với .messages-container */
    top: 0; /* Đảm bảo container nằm ở trên cùng */
    right: 0; /* Đặt container vào góc phải của màn hình */
    display: flex;
    flex-direction: column; /* Đảm bảo các phần tử trong container xếp theo chiều dọc */
  }
  
  .chatbox {
    position: relative;  /* Thay đổi từ absolute sang relative */
    left: -480px; /* Điều chỉnh khoảng cách để phần comment xuất hiện bên cạnh post */
    width: 100%;  /* Đảm bảo chatbox chiếm hết chiều rộng của .chatbox-container */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .chatbox-messages {
    height: calc(100% - 60px); /* Chiều cao của chatbox */
    overflow-y: auto;
    padding: 10px;
  }
  
  .chatbox-input {
    display: flex;
    gap: 5px;
  }
  