/* Post.css */




.dropdown-container {
    position: absolute; /* Đảm bảo dropdown nằm trong post-container */
    top: 0; /* Căn vị trí của dropdown-container đối với post-container */
    right: 10px; /* Đặt dropdown ở góc phải */
}

.dropdown-toggle {
    background-color: #dae5f6;
    border: none;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    position: relative; /* Tạo không gian cho nút toggle */
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Menu dropdown xuất hiện ngay dưới nút toggle */
    right: 0; /* Căn menu dropdown vào lề phải của .dropdown-container */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đảm bảo menu không bị che khuất */
    list-style: none;
    padding: 5px 0;
    margin: 0;
    border-radius: 8px;
    min-width: 120px;
    display: none; /* Ban đầu ẩn */
}

.dropdown-container .dropdown-menu.show {
    display: block; /* Hiển thị menu khi có class 'show' */
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#edit-btn {
    width: 20%; /* Điều chỉnh chiều rộng của button */
    padding: 5px;
    background-color: #ffffff;
    color: #0e0e0e;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
  
    box-shadow: -5px -5px 5px rgba(18, 3, 3, 0.1); /* X Offset, Y Offset, Blur, Màu */
}

#edit-btn:hover {
    background-color: #00285A;
    color: #FFFFFF;
}
